*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

body {
  
    transition: background-color 0.5s, color 0.5s;
   
}
h1{
    margin: 0 !important;
}
#navabar ul li {
    padding: 0 .5em .25em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
  }
  /* #navabar ul li:hover {
    color: #fff;
  } */
  #navabar ul li:before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
    background: #ce4f20; /* the color */
    scale: 0 1;
    transition: .3s, translate 0s .3s;
  }
  #navabar ul:hover li:before {
    scale: 1;
  }
  #navabar ul li:hover:before {
    translate: 0;
    transition: .3s;
  }
  #navabar ul:hover li:has(~ li:hover):before {
    translate: 100% 0;
    transition: .2s .2s,scale 0s .4s;
  }
  #navabar ul:hover li:hover ~ li:before {
    translate: -100% 0;
    transition: .2s .2s,scale 0s .4s;
  }


  @media screen and (max-width:600px) {
    #navabar{
        flex-direction: column;
        align-items: start;
        padding: 20px;
        gap: 10px;
    }
    #navabar ul{
        gap: 1px;
        font-size: 12px;
        flex-wrap: wrap;
    }
   
    

}


#toggel{
    transition: .3s ease-in-out;
}
body.dark-mode {
    background-color: black;
    color: white;
}
/* Light mode */
body.light-mode {
    background-color: white;
    color: black;
}